 h1{
   text-align:center;
    color:black;
   text-shadow:1px 2px;
   font-family: 'Open Sans Condensed', sans-serif;
   border-style:inset;
   border-color:white;
 }

.container{
    display: flex;
    justify-content: space-between;
}
img{
    width:24%;
    height:120px;
    
}
body{
    background-color:#E3D6F3;
}
